@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    box-sizing: border-box;
  }

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #EEEEEE;
}

p {
    font-size: .8em;
    line-height: 1.5em;
}

h1 {
    font-size: 1.2em;
    line-height: 1.4em;
}

h2 {
    font-size: 1em;
    line-height: 1.6em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


.container {
    padding: .8rem 1.2em;
    max-width: 90%;
    margin: auto;
    display: block;
   
}


.logo-name a{
    text-decoration: none;
    color: inherit;
    padding: 1em;  
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    background-color: #EEEEEE;
    border-radius: 10%;
    height: 40px;
    position: fixed;
    top: 0;
    right: 5%;
    left: 5%;
    z-index: 100;
    
}


.nav a {
    text-decoration: none;
    color: inherit;
    padding: 1em;
    
}


.nav a:hover, .logo-name a:hover, .btn:hover {
    color: #00B0FF;
}

.column-projects img:hover {
    opacity: 0.7;
}

.circle {
    position: absolute;
    width:280px;
    height: 280px;
    border-radius: 50%;
    background-color: #F2F622;
    z-index: -1;
    top: 0;
    left: 1%;
    box-shadow: 5px 5px #E9E9EA;
    animation-name: animation1;
    animation-duration: 4s;
    animation-delay: 2s;
}

@keyframes animation1 {
    from {background-color: #EEEEEE;}
  to {background-color: #F2F622 ;}
}

.square {
    position: absolute;
    width:30px;
    height: 70px;
    background-color: #00B0FF;
    margin-right: 10px;
    z-index: -1;
    animation-name: animation2;
    animation-duration: 4s;
    animation-delay: 8s;
}

@keyframes animation2 {
    from {background-color: #00B0FF;}
  to {background-color: #F2F622 ;}
}


.title {
    width: 20%;
}


.sub {
    margin-left:40%;
    width: 450px;
}

.sub h2 {
    margin-left: 8%;
}

.about, .contacts {
    display: flex;
    align-items: center;
    margin-top: 2%;
}









.column-projects {
    width: 50%;
    float: left;
    padding-bottom: 20px;
}

.column-projects img {
    width:60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.column {
    width: 50%;
    float: left;
    padding-bottom: 5px;
   
}

.column p {
    padding-left: 20px;
    padding-right: 20px;
}


.imageproject  {
    width:60%;
    margin: 10% auto;
    display: block;
}




.column-projects p, h3, .contacts p {
    text-align: center;
}

.column-projects a {
    text-decoration: none;
    color: inherit;
}


.about-image {
    width: 70%;
    margin: auto;
    display: block;

}

.iframe iframe{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 30px;;
}

.white {
    width: 100%;
    background-color: #FAFAFA;
    margin-top: 5%;
    padding: 2em 0 1em;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 5%;
    
}


.btn{
    color: black;
    background-color:  #F2F622;
    padding: .75rem 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    box-shadow: 5px 5px #E9E9EA;
}

.contacts {
    text-align: center;
}

.contacts p {
    margin-bottom: 2.5rem;
}

.footer {
    text-align: center;
    
}

.footer p a, .contacts p a{
    
    color: inherit;
}


.svgmail path:hover{
    fill: #F2F622;
    cursor: pointer;
}



.row:after {
    content: "";
    display: table;
    clear: both;
  }

  

@media only screen and (max-width: 750px) {
    .circle {
        z-index: -2;
    }
   
    .sub {
        margin-left: 0;
        font-size: .8em;
        width: 100%;
    }
    .title {
        font-size: .8em;
        width: 60%;
    }
  
    .iframe iframe{
        width: 100%;
        height: 300;
        margin: auto;
    }
    .column.hide {
        display: none;
    }
    .nav a {
        font-size: .8em;
        padding: .5em;
    }
    .logo-name a {
        font-size: .8em;
    }

}

@media only screen and (max-width: 800px) {
    .column-projects, .column {
      width: 100%;
      margin-bottom: 20px;
    }
  }


  @media only screen and (min-width: 1600px) {
      .container {
          max-width: 1440;
      }
  }


/* Logo boxes
   */

   .container-logo {
    list-style:none;
    margin: 0;
    padding: 0;
    
  }
  .item {
    
    padding: 5px;
    width: 200px;
    height: 100px;
    margin: 2px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    
  }
  
  
  
  /*Flexbox*/
  .flex {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
  
  
  .item img {
      width: 150px;
      
  }

  .logo {
      padding-top: 35px;
  }
/* Logo boxes end
   */




   

/* MODAL */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/*modal end */







/* Project 1 
   */

.cclogo {
    width: 30%;
    margin: 10% auto;
    display: block;
}

.ccds {
    width: 90%;
    margin: 10% auto;
    display: block;

}

.user {
    width: 90%;
    margin: 10% auto;
    display: block;
}

/* Project 1 end
   */

  






  /* Project 2 image gallery
  The grid:  equal columns that floats next to each other */
.column-image {
    float: left;
    width: 20%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column-image img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column-image img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container-image {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: grey;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }



